@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Italiana&family=Roboto&display=swap');

:root{
    --logo-color: #fed9b2;
    --nav-color: #1c2a33;
}

body{
    margin:0;
    padding: 0;
    background-color: #163949;
    font-family:'Italiana', sans-serif;
}

#content{
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}

.restaurant-name,.headline-cont h1{
    font-family:'Italiana',serif;
    color: var(--logo-color);
}


.navbar{
    display: flex;
    align-items: center;
    background-color: var(--nav-color);
    justify-content: space-between;
}

button{
    background-color: var(--nav-color);
    color: var(--logo-color);
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 8px;
    position: relative;
    
}

button::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    transition: all 0.3s;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--logo-color);
    transform: scale(0.1, 1);
}

button:hover::before {
    transform: scale(1, 1); 
}

footer{
    text-align: center;
    color: var(--logo-color);
    font-size: 1.2rem;
}
.restaurant-name{
    margin-left: 5rem;
    font-size: 2.5rem;
}

.right-nav{
    margin-right: 10rem;
    display: flex;
    gap: 5rem;
}


.home{
    display:flex ;
    flex-direction: row-reverse;
}

.home-img-cont{
    flex-grow: 1;
    display: flex;
    justify-content: center;

}

.home-img-cont img{
    height: auto;
    
    padding-top: 5%;
}

.headline-cont{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headline-cont h1{
    font-size: 6rem;
    margin-top: 200px;
    color: var(--logo-color);
    padding: 90px;
    border: 1px solid var(--logo-color);
}

.headline-cont h2{
    font-size: 2rem;
    color:var(--logo-color);
}

.menu-cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    color: white;
    padding-left: 20%;
    padding-right: 20%;

}

.menu{
    text-align: center;
    font-size: 2rem;
    color: var(--logo-color);
}

.menu-cards h2{
    font-size: 2rem;
    color: var(--logo-color);
}
.menu-cards p{
    font-size: 1.5rem;
    font-weight:bold;
}
.menu-cards img{
    max-width: 100%;
    height: auto;;
}

.menu-card{
    padding: 20px;
    border: 1px solid var(--logo-color);
    width: 25%;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact div h1{
    font-size: 3.5rem;
    color: var(--logo-color);
}
.contact p {
    color: var(--logo-color);
    font-weight: bold;
    font-size: 1.2rem;
}